@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-scrollbar {
  background: #d6d6d6;
}
.swiper-container {
  padding: 10px !important;
}
.swiper-container-horizontal > .swiper-scrollbar {
  border-radius: 2px;
  height: 5px;
  width: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
div.swiper {
  padding: 10px;
}
div.swiper_zero_padding {
  padding: 0 !important;
}

div.swiper-scrollbar-drag {
  position: absolute;
  background: hsl(var(--primary));
  z-index: 99999;
}
#__next,
.main,
body,
html {
  background-color: var(--colors-scale2);
  --tw-text-opacity: 1;
  color: hsl(var(--foreground-default) / var(--tw-text-opacity));
  height: 100%;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.loader-admin {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: black;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloaderAdmin 2s ease infinite;
}
.loader-admin::after,
.loader-admin::before {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: black;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloaderAdmin 2s 0.2s ease infinite;
}
.loader-admin::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloaderAdmin {
  0% {
    top: 0;
    color: black;
  }
  50% {
    top: 30px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  @keyframes animloaderAdmin {
    0% {
      top: 0;
      color: white;
    }
    50% {
      top: 30px;
      color: rgba(255, 255, 255, 0.2);
    }
    100% {
      top: 0;
      color: white;
    }
  }

  .loader-admin {
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    display: block;
    margin: -50px auto 0;
    position: relative;
    color: #fff;
    transform: translateY(30px);
    box-sizing: border-box;
    animation: animloaderAdmin 2s ease infinite;
  }
  .loader-admin::after,
  .loader-admin::before {
    content: '';
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    color: #fff;
    position: absolute;
    left: 30px;
    top: 0;
    animation: animloaderAdmin 2s 0.2s ease infinite;
  }
}
.swiper-pagination {
  margin-bottom: 20px;
}
@layer base {
  :root {
    --swiper-pagination-color: hsl(var(--primary));
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: #4e008a26;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 274 100% 27%;
    --primary-foreground: 195 75% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.75rem;
    --card-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 95%;
    --card: 0 0% 11%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 152.9deg 60% 52.9%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 0 0% 80%;
    --ring: 142.4 71.8% 29.2%;
    --colors-gray1: #161616;
    --colors-gray2: #1c1c1c;
    --colors-gray3: #232323;
    --colors-gray4: #282828;
    --colors-gray5: #2e2e2e;
    --colors-gray6: #343434;
    --colors-gray7: #3e3e3e;
    --colors-gray8: #505050;
    --colors-gray9: #707070;
    --colors-gray10: #7e7e7e;
    --colors-gray11: #a0a0a0;
    --colors-gray12: #ededed;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.swiper-container {
  padding-bottom: 10px;
}
.mySwiper {
  position: relative;
  overflow: visible;
}

.swiper-container {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex: 0 0 auto;
  width: 80%; /* Adjust the width as needed */
}

.swiper-button-prev,
.swiper-button-next {
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.loader {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  --base-color: #263238; /*use your base color*/
}
.loader::before {
  content: '';
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}
.loader::after {
  content: '';
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes border-flow {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-border-flow {
  animation: border-flow 3s ease infinite;
  background-size: 200% 200%;
}
